<%- include('../partials/header') %>


<% recipes.forEach(function(p) { %>

  <div id = "food-card">

  <div id = "post-img-left">
    <img  src = "<%= p.image %>"
    width = "300">
  </div>

  <div id = "post-text-right">

  <h2 id = "feed-title"> <%= p.title %> </h2>
    <h3> <%= p.timerequired %> Minutes</h3>

    <p id = "feed-description"> <%= p.description %> </p>

    <button><a class = "details-tag" href="/recipes/<%= p._id %>">More Details</a></button>

  </div>
  
</div>

<% }) %>

<%- include('../partials/footer') %>
