<%- include('../partials/header') %>

  <div id = "details-card">
  <div id = "details-img">
    <img  src = "<%= recipe.image %>"
    width = "300"
    >
  </div>

  <div id = "details-content">
    <h1> <%= recipe.title %> </h1>
      <h2>Author:</h2> 
      <p><%= recipe.author %></p>
      <h2>Rating:</h2> 
      <p><%= recipe.rating %></p>
      <h2>Date:</h2>
      <p><%= recipe.datePosted %></p> 
      <h2>Time Required:</h2> 
      <p><%= recipe.timerequired %></p>
      <h2>Ingredients</h2>
      <p><%= recipe.ingredients %> </p>
      <h2>Instructions</h2>
      <p> <%= recipe.instructions %> </p>
    </div>


  
  <% if (recipe.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.comments.forEach(function(r) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.comment %></td>
            <td><%= r.rating %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
  </div>
  </div>

<%- include('../partials/footer') %>